---
// Component Imports
import Body from '../components/Body.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_WEBNAME, SITE_DESCRIPTION, HOMEPAGE_URL } from '../config.ts';
import MainHead from '../components/MainHead.astro';
import Masthead from '../components/Masthead.astro';
import Footer from '../components/Footer.astro';
import type { Project } from '../types';

// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob<Project>('./project/**/*.md');
const featuredProject = projects[0]!;

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<MainHead
			title={ SITE_WEBNAME }
			description={ SITE_DESCRIPTION } />
	</head>
	<Body>
	  <Header title={ SITE_TITLE } />
            <main>
	      <Masthead />
            </main>
	    <Footer property={ SITE_TITLE } site={ HOMEPAGE_URL } />
	</Body>
</html>
