---
import ContentFilter from './ContentFilter.astro';
import SectionManager from './SectionManager.astro';
---

<section class="grid justify-center items-center">
  <ContentFilter/>
  <SectionManager>
</section>
