---
import HeaderLink from './HeaderLink.astro';
import { IoLogoInstagram, IoLogoGithub, IoLogoLinkedin, IoDownloadOutline, IoLogoDiscord, IoLogoWhatsapp } from 'react-icons/io5';
import { GITHUB_URL, INSTAGRAM_URL, LINKEDIN_URL, WHATSAPP_URL, DISCORD_URL } from '../config.ts'

---

<section class="relative h-full w-full grid gap-y-3  justify-center items-center">

  <div class="relative mt-20  w-full h-full grid justify-center text-center items-center gap-y-0.10">  

    <div class="relative mt-14 h-28 w-28 rounded-full justify-self-center border-2 border-pink-500 hover:border-sky-800 place-items-center">
      <div class="absolute h-full w-full bg-white rounded-full overflow-hidden flex items-center justify-center border-b-0">
	<img class="object-cover justify-items-center w-26" src="/git-perfil.jpeg" >
      </div>
    </div>

    <h2 class="text-xl font-bold"> Sixtus Nosike </h2>

    <h3 class="text-sm text-slate-600"> Web developer, Frontend </h3>

    <div class="flex justify-center gap-x-2 items-center">

      <HeaderLink class="text-xl text-sky-500 hover:text-pink-500" href={ INSTAGRAM_URL }>
	<IoLogoInstagram/> 
      </HeaderLink>

      <HeaderLink class="text-xl text-sky-500 hover:text-pink-500" href={ LINKEDIN_URL }>
	<IoLogoLinkedin/>
      </HeaderLink>

    </div>

  </div>

  <div class="flex mt-12 justify-center items-center gap-x-6">

    <div class="text-center">
      <h3 class="mb-1 text-xl font-bold">+3</h3>
      <p class="text-slate-600 font-medium">Years of <br> works</p>
    </div>

    <div class="text-center">
      <h3 class="mb-1 text-xl font-bold">+35</h3>
      <p class="text-slate-600 font-medium">Completed <br> projects</p>
    </div>

    <div class="text-center">
      <h3 class="mb-1 text-xl font-bold">+24</h3>
      <p class="text-slate-600 font-medium">Satisfied<br>customers</p>
    </div>

  </div>

  <div class="flex mt-12 justify-center items-center gap-x-3.5">

    <button class="flex items-center gap-x-2 h-16 pl-6 pr-6 rounded-lg bg-gradient-to-r from-purple-500 to-pink-500  hover:bg-sky-600" download="" href="assets/doc/CV-Sixtus-Nosike.pdf">
       Download CV
       <IoDownloadOutline/>
    </button>

    <div class="flex items-center gap-x-1.5">

      <a class="text-xl text-white p-2 bg-gradient-to-r from-sky-500 to-indigo-500 rounded-md" href={ WHATSAPP_URL }>
        <IoLogoWhatsapp/>
      </a>

      <a class="text-xl text-white p-2 bg-gradient-to-r from-sky-500 to-indigo-500 rounded-md" href={ DISCORD_URL }>
        <IoLogoDiscord/>
      </a>

    </div>

  </div>

</section>
