---
import FrontendSkills from './FrontendSkills.astro';
import BackendSkills from './BackendSkills.astro';
---

<section class="grid gap-y-[3.5rem] items-center">
  <FrontendSkills/>
  <BackendSkills/>
</section>
